astring             0.8.5
base                v0.16.3
base-bigarray       base
base-bytes          base
base-domains        base
base-nnp            base
base-threads        base
base-unix           base
camlp-streams       5.0.1
chrome-trace        3.15.2
cmdliner            1.2.0
conf-bash           1
cppo                1.6.9
csexp               1.5.2
dot-merlin-reader   4.9
dune                3.15.2
dune-build-info     3.15.2
dune-configurator   3.15.2
dune-rpc            3.15.2
dyn                 3.15.2
either              1.0.0
fiber               3.7.0
fix                 20230505
fpath               0.7.3
menhir              20231231
menhirCST           20231231
menhirLib           20231231
menhirSdk           20231231
merlin              4.13-501
merlin-lib          4.13-501
ocaml               5.1.0
ocaml-config        3
ocaml-lsp-server    1.17.0
ocaml-system        5.1.0
ocaml-version       3.6.7
ocamlbuild          0.14.3
ocamlc-loc          3.15.2
ocamlfind           1.9.6
ocamlformat         0.26.2
ocamlformat-lib     0.26.2
ocamlformat-rpc-lib 0.26.2
ocp-indent          1.8.1
ordering            3.15.2
ounit2              2.2.7
pp                  1.2.0
ppx_yojson_conv_lib v0.16.0
re                  1.11.0
result              1.5
seq                 base
sexplib0            v0.16.0
spawn               v0.15.1
stdio               v0.16.0
stdlib-shims        0.3.0
stdune              3.15.2
topkg               1.0.7
uucp                15.1.0
uuseg               15.1.0
uutf                1.0.3
xdg                 3.15.2
yojson              2.1.2
